        <div  class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="mybar" class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="admin.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#morris-area-chart"><i class="fa fa-fw fa-bar-chart-o"></i>Charts</a>
                    </li>
                    <li>
                        <a href="calendar.html"><i class="fa fa-fw fa-table"></i>Calendar</a>
                    </li>
                    <li>
                        <a href="#allpatients"><i class="fa fa-fw fa-edit"></i>Patients</a>
                    </li>
                   <li>
                        <a href="index.html"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="counters pull-right huge"></div>
                                        
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left"><a href=".esconders">View More</a></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                       <div id="sumatoria" class="huge"></div>
                                        
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">124</div>
                                        <div>New Orders!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">13</div>
                                        <div>Support Tickets!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                    <div class="col-lg-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart<i class='iconsx glyphicon glyphicon-minus pull-right'></i></h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart" class="esconder"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-3 pull-right">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>Most common illiness<i class='iconsxz glyphicon glyphicon-minus pull-right'></i></h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart" class="esconderz"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <!-- /.row -->

                
                    
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-fw fa-calendar"></i> Calendar<i class='iconsxy glyphicon glyphicon-minus pull-right'></i></h3>
                            </div>
                            <div class="panel-body">
                                <div id="upto-calendar-container-M4LO" class="upto-calendar-plugin escondery"><script>!function(c,b,a){function d(h){var e=document.getElementById("upto-calendar-container-"+c),f=document.createElement("SCRIPT"),g="https://upto.com/js/plugin.js";f.onreadystatechange=function(){if(f.readyState==="loaded"||f.readyState==="complete"){f.onreadystatechange=null;h()}};f.onload=function(){h()};f.setAttribute("src",g);e.parentNode.insertBefore(f,e)}d(function(){upto.init(c)})}("M4LO");</script></div>
                        </div>
                                <div class="list-group">
                                   <div class="calendar-container">
		
		                </div>
                                   
                                </div>
                                <div class="text-right">
                                    <a href="calendar.html">View Full Calendar <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> Patients Panel<i class='iconsxs glyphicon glyphicon-minus pull-right'></i></h3>
                            </div>
                            <div class="panel-body">
                                <div class="esconders table-responsive">
                                    <div class="form-group pull-right">
                                        <input type="text" class="search form-control" placeholder="Search...">
                                    </div>
                                    <span class="counter pull-right"></span>
                                    
                                 <table id="allpatients" class="table table-hover table-bordered results" border="1">
                                    <thead>
                                        <tr>
                                          <th>Patient#</th>
                                          <th class="col-md-5 col-xs-5">Name / Last Name</th>
                                          <th class="col-md-4 col-xs-4">Problem</th>
                                          <th class="col-md-3 col-xs-3">Amount Due</th>
                                        </tr>                                   
                                     </thead>
                                     {{#each users}}
                                         <tr>
                                          <th scope="row" class='num'></th>
                                          <td>{{name}} {{lastName}}</td>
                                          <td>{{symptoms}}</td>
                                          <td class ="price" value="10.0">10.0</td>
                                        </tr>
                                      {{/each}}  
                                </table>                           
                                </div>                               
                                <div class="text-right">
                                    <a href="#">View All Patients <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
        
    </div>
        <script>
			var rows = document.getElementById('allpatients').getElementsByTagName("tr").length;
            var table = document.getElementsByTagName('table')[0],
            rows = table.getElementsByTagName('tr'),
            text = 'textContent' in document ? 'textContent' : 'innerText';

            for (var i = 1, len = rows.length; i < len; i++){
                rows[i].children[0][text] = i + ' ' + rows[i].children[0][text];
            }
            $.get('http://localhost:2000/admin/data',function(data){
                console.log(data);
            });
		</script>
      