            <div  class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="mybar" class="nav navbar-nav side-nav">
                    <li>
                        <a href="admin.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i>Charts</a>
                    </li>
                    <li class="active">
                        <a href="calendar.html"><i class="fa fa-fw fa-table"></i>Calendar</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-fw fa-edit"></i>Patients</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
            <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Calendar
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
              <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-fw fa-calendar"></i> Calendar</h3>
                        </div>
                        <div class="panel-body">
                            <div id="upto-calendar-container-M4LO" class="upto-calendar-plugin"><script>!function(c,b,a){function d(h){var e=document.getElementById("upto-calendar-container-"+c),f=document.createElement("SCRIPT"),g="https://upto.com/js/plugin.js";f.onreadystatechange=function(){if(f.readyState==="loaded"||f.readyState==="complete"){f.onreadystatechange=null;h()}};f.onload=function(){h()};f.setAttribute("src",g);e.parentNode.insertBefore(f,e)}d(function(){upto.init(c)})}("M4LO");</script></div>
                        </div>
                        <div class="list-group">
                            <div class="calendar-container">  
                            </div>
                        </div>
                        <div class="text-right">
                                <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                     </div>
               </div>
             </div>
                <!-- /.row -->
             </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
</div>